<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="../../public/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>use this to write for weather app</p>
             <form>
                <input placeholder="Location">
                <button>Search</button>
             </form>
             <p id="message-1"></p>
             <p id="message-2"></p>
        </div>
       
         {{>footer}}
          <script type="text/javascript">
            console.log('Client side javascript file loaded.')
            const weatherForm = document.querySelector('form')
            const search = document.querySelector('input')
            const messageOne = document.querySelector('#message-1') 
            const messageTwo = document.querySelector('#message-2')
            weatherForm.addEventListener('submit', (e) => {
                e.preventDefault()
                const location = search.value
                messageOne.textContent = 'Loading...'
                messageTwo.textContent = ''
                fetch('http://127.0.0.1:3000/weather?address=' + location).then((response) => {
                response.json().then((data) => {
                    if (data.error) {
                        messageOne.textContent = data.error
                    } else {
                        messageOne.textContent = data.location
                        messageTwo.textContent = data.forecast
                    }
                })
            })
            })
          </script>
    </body>
</html>